
/* about us page */ 
.about-us-banner{
    background:
        linear-gradient(
            to bottom,
            rgba(255,255,255,0.32) 0%,
            rgba(255, 255, 255, 0.274) 50%,
            rgba(255,255,255) 100%
        ),
        url("../assets/images/2.hero.png");


} 

.about-us-banner p{
    color: var(--color-16);
    font-size: 32px; 
    font-family: var(--outfit-r);
}